%p.cardetails
  %img{ :src => image_url }
  %br
  = name
  %br
  - if address_line
    = address_line
  - else
    %span#addrline ...
  %br
  Fuel level:
  = "#{fuel_in_percent}% -"
  %span.bold= fuel_type
  %br
  Walking time:
  %span#wktime.bold ...
  mins
  %br
  Distance:
  %span#wkdist.bold ...
  kms
  %br
  Available since:
  %span#stdtime.bold ...
  mins
  %p
  %a.button{ :href=> reserve_url } Reserve
