.tooltip.cardetails
  %img{ :src => image_url }
  %h3.tooltip__title
    = name

  .tooltip__content
    .tooltip__content-item
      - if address_line
        = address_line
      - else
        %span#addrline ...

    .tooltip__content-item
      %strong Fuel level:
      = "#{fuel_in_percent}%"
      = surround "(", ")" do
        %span{ :class => fuel_type_css_class }= fuel_type

    .tooltip__content-item
      %strong Walking:
      %span#wktime ...
      minutes
      = surround "(", " kms)" do
        %span#wkdist ...

    .tooltip__content-item
      %strong Available since:
      %span#stdtime ...
      minutes
      - if c = cleanliness
        %span
          %img{ :src => "/images/cleanliness/#{c}.svg", :width => "30" }

    .tooltip__content-item
      %a.button.btn{ :href=> reserve_url } Reserve
