%p.cardetails
  %img{ :src => image_url }
  %br
  = name
  %br
  - if address_line
    = address_line
  - else
    %span#addrline ...
  %br
  Fuel level:
  = "#{fuel_in_percent}% -"
  %span.bold= fuel_type
  %br
  Walking:
  %span#wktime.bold ...
  mins
  = surround "(", " kms)" do
    %span#wkdist.bold ...
  %br
  Available since:
  %span#stdtime.bold ...
  mins
  %p
  %a.button.btn{ :href=> reserve_url } Reserve
