#map
:javascript
  function pinSymbolCar(color) {
      return {
          path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
          fillColor: color,
          fillOpacity: 1,
          strokeColor: '#000',
          strokeWeight: 2,
          scale: 1,
     };
   }

  function initMap() {
     var map = new google.maps.Map(document.getElementById('map'), {
       zoom: 15,
       center: {"lat": #{params[:lat]}, "lng": #{params[:lng]} }
     });

     new google.maps.Marker({
       position: {"lat": #{params[:lat]}, "lng": #{params[:lng]} },
       map: map,
       title: "You",
       icon: pinSymbolCar('#2f2')
     });
     addCar0(map);
     addCar1(map);
     addCar2(map);
  }

- @results.each_with_index do |(car, fs), idx|
  :javascript
    function addCar#{idx}(map){
       var clr = { 0: '#f22', 1: '#ff2', 2: '#2ff' }[#{idx}];
       new google.maps.Marker({
         position: #{car.json_location},
         map: map,
         title: "#{car.name}",
         icon: "#{car.marker_icon}"
       });

       new google.maps.Marker({
         position: #{fs[0].json_location},
         map: map,
         icon: "#{fs[0].marker_icon}",
         title: "#{fs[0].name}"
       });
       new google.maps.Marker({
         position: #{fs[1].json_location},
         map: map,
         icon: "#{fs[1].marker_icon}",
         title: "#{fs[1].name}"
       });
       new google.maps.Marker({
         position: #{fs[2].json_location},
         map: map,
         icon: "#{fs[2].marker_icon}",
         title: "#{fs[2].name}"
       });
      }

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"}
